.progress-bar{
	background-color: var(--warning);
}

.c-nav-btn{
	padding: 0.25rem;
	background-color: var(--warning);
	width: 100% !important;
	font-weight: 500;
	font-size: large;
}

.c-nav-btn:focus{
	background-color: var(--dark);
  	color: var(--warning);
}

.dropdown-menu{
	text-align: center;
	width: 100% !important;
}

.c-carousel{
	width: 5% !important;
}

.c-carousel-icon{
	font-size: 2rem;
	color: var(--dark);
}
